<script async custom-element="amp-analytics" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-analytics-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-ad" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-ad-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-carousel" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-carousel-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-sidebar" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-sidebar-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-shadow-doc-loader" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-shadow-doc-loader-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-image-lightbox" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-image-lightbox-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-iframe" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-iframe-0.1.js?buildNumber=0"></script>
<script async custom-element="amp-fetch" src="https://bc.marfeel.com/statics/amp/dist/v0/amp-fetch-0.1.js?buildNumber=0"></script>

<meta name="amp-3p-iframe-src" content="https://altbc.marfeel.com/statics0/marfeel/remote.k.html">