<div id="mrf-controlBars" class="mrf-coverElement">
    
    <footer id="mrf-footer" class="mrf-fixedElement">
        <div class="mrf-goToTop">

            <button id='470229' aria-label='go to top button' type="button" class="mrf-buttonToBlack mrf-button mrf-goToTopBtn">

                <svg class="mrf-Icon mrf-Icon--m">
                    <use xlink:href="#mrf-Icon--arrowHead"></use>
                </svg>

            </button>

        </div>

        <div class="mrf-collapseFooter">

            <ul id="mrf-shareOptions" class="mrf-shareAggregated mrf-shareOptions" data-counterSelector=".mrf-detailsInMosaic.mrf-mosaic #mrf-mosaic .mrf-current, #mrf-details .mrf-current">
                <li class="mrf-shareOptionsWrapper">
                    <ul class="mrf-shareOptions-items">

                        <li id="mrf-facebook" class="mrf-shareOption mrf-brandBkg mrf-facebook ">

                            <button id='470229' aria-label='social sharingÂ button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon ">
                                    <use xlink:href="#mrf-Icon--facebook"></use>
                                </svg>

                                <div class="mrf-counter">-</div>

                            </button>

                        </li>

                        <li id="mrf-twitter" class="mrf-shareOption mrf-brandBkg mrf-twitter ">

                            <button id='470229' aria-label='social sharingÂ button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon ">
                                    <use xlink:href="#mrf-Icon--twitter"></use>
                                </svg>

                                <div class="mrf-counter">-</div>

                            </button>

                        </li>

                        <li id="mrf-email" class="mrf-shareOption mrf-brandBkg mrf-email ">

                            <button id='470229' aria-label='social sharingÂ button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon ">
                                    <use xlink:href="#mrf-Icon--email"></use>
                                </svg>

                                <div class="mrf-counter">-</div>

                            </button>

                        </li>

                        <li id="mrf-whatsapp" class="mrf-shareOption mrf-brandBkg mrf-whatsapp ">

                            <button id='470229' aria-label='social sharingÂ button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon ">
                                    <use xlink:href="#mrf-Icon--whatsapp"></use>
                                </svg>

                                <div class="mrf-counter">-</div>

                            </button>

                        </li>

                        <li id="mrf-messenger" class="mrf-shareOption mrf-brandBkg mrf-messenger mrf-hidden">

                            <button id='470229' aria-label='social sharingÂ button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon ">
                                    <use xlink:href="#mrf-Icon--messenger"></use>
                                </svg>

                                <div class="mrf-counter">-</div>

                            </button>

                        </li>

                        <li id="mrf-allShareOptions" class="mrf-shareOption mrf-allShareOptions mrf-brandBkg" data-shortcut="share:shareBar:#mrf-details .mrf-current .mrf-page">

                            <button id='470229' aria-label='social sharing button' type="button" class="mrf-buttonToWhite mrf-button mrf-shareWrapper">

                                <svg class="mrf-Icon mrf-Icon--l">
                                    <use xlink:href="#mrf-Icon--options-h"></use>
                                </svg>

                            </button>

                        </li>

                    </ul>
                </li>
                <li class="mrf-nextArticle">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button nextColumnCopy">

                        NEXT ARTICLE

                        <svg class="mrf-Icon mrf-Icon--s">
                            <use xlink:href="#mrf-Icon--arrowHead"></use>
                        </svg>

                    </button>

                </li>
            </ul>

        </div>
    </footer>

</div>