<header id="mrf-detailsHeader" class="mrf-collapsableHeader mrf-header mrf-eventsForwarder mrf-fixedElement mrf-darkHeader" data-mrf-preventInteraction="true" data-mrf-updateScrollPosition="false" tabindex="0">
    <button id='470229' aria-label='menu button' type="button" class="mrf-buttonToWhite mrf-button mrf-menuButton mrf-ButtonIcon mrf-openMenu" data-shortcut="tap:mrf-lateralMenu:toggle">

        <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--menu"></use>
        </svg>

    </button>

    <button id='mrf-detailsCloseButton' aria-label='close menu button' type="button" class="mrf-buttonToWhite mrf-button mrf-headerCloseButton mrf-ButtonIcon mrf-closeButton" data-shortcut="navigationLevel:close:mosaic">

        <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--close"></use>
        </svg>

    </button>

    <div class="mrf-levels mrf-mosaicLevels">
        <div class="mrf-level mrf-secondLevel">

            <div class="mrf-detailsLimitedPagerContainer" />

        </div>
    </div>
</header>