<div id="mrf-mosaicSections" class="uses3d">
    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection">
        <amp-shadow-doc-loader visibility-managment="manual" data-mrf-sectionpath="/" class="mrf-ampShadowDocLoader mrf-page" doc-url="https://bc.marfeel.com/mrf/truththeory.com/index.k.html?deviceType=s&amp;renderUI=false&amp;buildNumber=16437&amp;customBuildNumber=7742&amp;timestamp=&amp;sectionName=home" retry-label="Try again" data-mrf-uri="https://truththeory.com/" data-mrf-title="TruthTheory -" data-mrf-virtualpageid="/" data-mrf-first-page="" ></amp-shadow-doc-loader> 
    </section>
    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualpageid="index/top" data-mrf-pubdate="1503655010147" data-mrf-themename="k" data-mrf-loadpremiumsection="true" data-mrf-index="1" data-mrf-linkablesection="true" class="">
        <amp-shadow-doc-loader visibility-managment="manual" data-mrf-sectionpath="/top/" class="mrf-ampShadowDocLoader mrf-page" doc-url="https://bc.marfeel.com/mrf/truththeory.com/index.k.html?deviceType=s&amp;renderUI=false&amp;buildNumber=16437&amp;customBuildNumber=7742&amp;timestamp=&amp;sectionName=top" retry-label="Try again" data-mrf-uri="https://truththeory.com/top/" data-mrf-title="Top - TruthTheory" data-mrf-virtualpageid="/top/" data-mrf-first-page="" data-mrf-lastupdate="Fri, 25 Aug 2017 10:46:18 GMT"></amp-shadow-doc-loader>
    </section>
    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualpageid="index/news" data-mrf-pubdate="1503656574124" data-mrf-themename="k" data-mrf-loadpremiumsection="true" data-mrf-index="6" data-mrf-linkablesection="true" class="">
        <amp-shadow-doc-loader visibility-managment="manual" data-mrf-sectionpath="/category/articles/" class="mrf-ampShadowDocLoader mrf-page" doc-url="https://bc.marfeel.com/mrf/truththeory.com/index.k.html?deviceType=s&amp;renderUI=false&amp;buildNumber=16437&amp;customBuildNumber=7742&amp;timestamp=&amp;sectionName=news" retry-label="Try again" data-mrf-uri="https://truththeory.com/category/articles/" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualpageid="/category/articles/" data-mrf-first-page="" data-mrf-lastupdate="Fri, 25 Aug 2017 10:46:25 GMT"></amp-shadow-doc-loader>
    </section>
    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualpageid="index/movies" data-mrf-pubdate="1503657221119" data-mrf-themename="k" data-mrf-loadpremiumsection="true" data-mrf-index="18" data-mrf-linkablesection="true" class="">
        <amp-shadow-doc-loader visibility-managment="manual" data-mrf-sectionpath="/category/movies/" class="mrf-ampShadowDocLoader mrf-page" doc-url="https://bc.marfeel.com/mrf/truththeory.com/index.k.html?deviceType=s&amp;renderUI=false&amp;buildNumber=16437&amp;customBuildNumber=7742&amp;timestamp=&amp;sectionName=movies" retry-label="Try again" data-mrf-uri="https://truththeory.com/category/movies/" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualpageid="/category/movies/" data-mrf-first-page="" data-mrf-lastupdate="Fri, 25 Aug 2017 11:28:05 GMT"></amp-shadow-doc-loader>
    </section>
    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualpageid="index/videos" data-mrf-pubdate="1503657365033" data-mrf-themename="k" data-mrf-loadpremiumsection="true" data-mrf-index="31" data-mrf-linkablesection="true" class="">
        <amp-shadow-doc-loader visibility-managment="manual" data-mrf-sectionpath="/category/videos/" class="mrf-ampShadowDocLoader mrf-page" doc-url="https://bc.marfeel.com/mrf/truththeory.com/index.k.html?deviceType=s&amp;renderUI=false&amp;buildNumber=16437&amp;customBuildNumber=7742&amp;timestamp=&amp;sectionName=videos" retry-label="Try again" data-mrf-uri="https://truththeory.com/category/videos/" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualpageid="/category/videos/" data-mrf-first-page="" data-mrf-lastupdate="Fri, 25 Aug 2017 11:28:06 GMT"></amp-shadow-doc-loader>
    </section>
</div>

<!-- This will be lazy loaded for each section -->
<div id="mrf-detailsSections" class="uses3d">
    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection"></section>

    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualPageId="index/top" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="1" data-mrf-linkableSection="true" class=" "></section>

    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualPageId="index/news" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="2" data-mrf-linkableSection="true" class=" "></section>

    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualPageId="index/movies" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="3" data-mrf-linkableSection="true" class=" "></section>

    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualPageId="index/videos" data-mrf-pubDate="1503485404571" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="4" data-mrf-linkableSection="true" class=" "></section>

</div>

<div id="mrf-mosaicSubsections" class="uses3d">

</div>

<div id="mrf-gallerySections" class="uses3d">

    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection"></section>

    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualPageId="index/top" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="1" data-mrf-linkableSection="true" class=" "></section>

    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualPageId="index/news" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="2" data-mrf-linkableSection="true" class=" "></section>

    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualPageId="index/movies" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="3" data-mrf-linkableSection="true" class=" "></section>

    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualPageId="index/videos" data-mrf-pubDate="1503485404571" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="4" data-mrf-linkableSection="true" class=" "></section>

</div>