<div id="mrf-mosaicSections" class="uses3d">
    
    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection">

        <div class="mrf-mosaicPlaceholder"></div>

    </section>

    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualPageId="index/top" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="1" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualPageId="index/news" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="2" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualPageId="index/movies" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="3" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualPageId="index/videos" data-mrf-pubDate="1503485404571" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="4" data-mrf-linkableSection="true" class=" ">

    </section>

</div>

<div id="mrf-detailsSections" class="uses3d">
    <!-- Deep linking on details for Premium Articles and Photo Article -->

    <!-- END -->

    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection">

    </section>

    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualPageId="index/top" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="1" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualPageId="index/news" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="2" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualPageId="index/movies" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="3" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualPageId="index/videos" data-mrf-pubDate="1503485404571" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="4" data-mrf-linkableSection="true" class=" ">

    </section>

</div>

<div id="mrf-mosaicSubsections" class="uses3d">

</div>

<div id="mrf-gallerySections" class="uses3d">

    <section id="home" data-mrf-title="TruthTheory -" data-mrf-virtualPageId="index/home" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="0" data-mrf-linkableSection="true" class=" mrf-firstSection">

    </section>

    <section id="top" data-mrf-title="Top - TruthTheory" data-mrf-virtualPageId="index/top" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="1" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="news" data-mrf-title="Articles Archives - TruthTheory" data-mrf-virtualPageId="index/news" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="2" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="movies" data-mrf-title="Movies Archives - TruthTheory" data-mrf-virtualPageId="index/movies" data-mrf-pubDate="1503485404567" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="3" data-mrf-linkableSection="true" class=" ">

    </section>

    <section id="videos" data-mrf-title="Videos Archives - TruthTheory" data-mrf-virtualPageId="index/videos" data-mrf-pubDate="1503485404571" data-mrf-themeName="k" data-mrf-loadPremiumSection="true" data-mrf-index="4" data-mrf-linkableSection="true" class=" ">

    </section>

</div>