<div class="mrf-modal mrf-coverElement mrf-shareModal" id="mrf-shareModal" data-close="true">
    <div class="mrf-modal__wrapper">
        <div class="mrf-modal__header">

            <span class="mrf-totalShares">
        <span class='mrf-totalShares-number'>
            0
        </span> Shares
            </span>

            <button id='470229' type="button" class="mrf-buttonToBlack mrf-button mrf-ButtonIcon mrf-modal__close">

                <svg class="mrf-Icon ">
                    <use xlink:href="#mrf-Icon--close"></use>
                </svg>

            </button>

        </div>

        <div class="mrf-modal__content">

            <div class="mrf-shareModal__preview"></div>
            <ul class="mrf-shareModal__list">

                <li class="mrf-copyToClipboard mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon">

    <svg class="mrf-Icon mrf-Icon--s">
            <use xlink:href="#mrf-Icon--copyLink"></use>
    </svg>

                                </span>
                        <span class="mrf-linkToCopy mrf-linkToCopy--decorator">
                                    <input class="mrf-linkToCopy__input js-input-to-copy" type="text" readonly="readonly">
                                </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                    <span class="js-text-copy">Copy link</span>
                        <span class="js-text-copied" style="display:none">Copied</span>

                        </span>

                    </button>

                </li>

                <li class="mrf-facebook mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--facebook"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-twitter mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--twitter"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Tweets

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Tweet

                        </span>

                    </button>

                </li>

                <li class="mrf-whatsapp mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--whatsapp"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-telegram mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--telegram"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-messenger mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--messenger"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-flipboard mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--flipboard"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-linkedIn mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--linkedIn"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-pinterest mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--pinterest"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Pins

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Pin it!

                        </span>

                    </button>

                </li>

                <li class="mrf-reddit mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--reddit"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Submits

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Submit

                        </span>

                    </button>

                </li>

                <li class="mrf-stumble mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--stumble"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-googlePlus mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--googlePlus"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-VK mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--VK"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-OK mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--OK"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-email mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--email"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Shares

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Share

                        </span>

                    </button>

                </li>

                <li class="mrf-comments mrf-shareOption">

                    <button id='470229' type="button" class="mrf-buttonToBlack mrf-button ">

                        <span class="mrf-ButtonIcon mrf-brandBkg">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--comments"></use>
    </svg>

                                </span>
                        <span class="mrf-shareCounter">
                                    <span class="mrf-counter">-</span>
                        <span class="sharesCopy">

                                            Comments

                                    </span>
                        </span>

                        <span class="mrf-shareLabel shareCopy mrf-brandBkg">

                                 Comment

                        </span>

                    </button>

                </li>

            </ul>

        </div>
    </div>
</div>