<amp-sidebar id="mrf-lateralMenu" layout="nodisplay" class="mrf-listMenu mrf-lateralMenu">
    <div class="mrf-lateralMenuContainer ">
        <div class="menuHeaderFixed mainColor">
            <div class="mrf-tenantLogo"></div>

        </div>
        <div class="mrf-scrollView mrf-scrollViewContainer" data-mrf-scrollViewBounce='true' data-mrfScrollView='live' data-mrf-scrollOrientation='vertical'>
            <div class="dropdownScrollView" data-sectionThumbUIControl='lateralMenu'>
                <ul class="mrf-linksContainer mrf-lateralMenu-listContainers">

                    <li data-shortcut='navigationLevel:open:mosaic,tap:mrf-lateralMenu:toggle' data-mrf-section='home' class="home photo mrf-type-default mrf-listMenu__section mrf-sectionThumb ">

                        <a id='470229' class="mrf-buttonToBlack mrf-button " href="https://truththeory.com/">

                            <h2 class="mrf-listMenu__title mrf-lateralMenu-item-title">
                                Home

                                    <span class="mrf-listMenu__title-lastSaved">
                                        DOWNLOADED
                                        <span class="mrf-listMenu__title-lastSaved-date"></span>
                                    </span>

                            </h2>

                            <span class="mrf-dlsection__button home" data-mrf-sectionname="home">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--downloadSection"></use>
    </svg>

<div class="mrf-spinner"></div>
</span>

                        </a>

                    </li>

                    <li data-shortcut='navigationLevel:open:mosaic,tap:mrf-lateralMenu:toggle' data-mrf-section='top' class="top main mrf-type-default mrf-listMenu__section mrf-sectionThumb ">

                        <a id='470229' class="mrf-buttonToBlack mrf-button " href="https://truththeory.com/top/">

                            <h2 class="mrf-listMenu__title mrf-lateralMenu-item-title">
                                Top

                                    <span class="mrf-listMenu__title-lastSaved">
                                        DOWNLOADED
                                        <span class="mrf-listMenu__title-lastSaved-date"></span>
                                    </span>

                            </h2>

                            <span class="mrf-dlsection__button top" data-mrf-sectionname="top">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--downloadSection"></use>
    </svg>

<div class="mrf-spinner"></div>
</span>

                        </a>

                    </li>

                    <li data-shortcut='navigationLevel:open:mosaic,tap:mrf-lateralMenu:toggle' data-mrf-section='news' class="news main mrf-type-default mrf-listMenu__section mrf-sectionThumb ">

                        <a id='470229' class="mrf-buttonToBlack mrf-button " href="https://truththeory.com/category/articles/">

                            <h2 class="mrf-listMenu__title mrf-lateralMenu-item-title">
                                News

                                    <span class="mrf-listMenu__title-lastSaved">
                                        DOWNLOADED
                                        <span class="mrf-listMenu__title-lastSaved-date"></span>
                                    </span>

                            </h2>

                            <span class="mrf-dlsection__button news" data-mrf-sectionname="news">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--downloadSection"></use>
    </svg>

<div class="mrf-spinner"></div>
</span>

                        </a>

                    </li>

                    <li data-shortcut='navigationLevel:open:mosaic,tap:mrf-lateralMenu:toggle' data-mrf-section='movies' class="movies main mrf-type-default mrf-listMenu__section mrf-sectionThumb ">

                        <a id='470229' class="mrf-buttonToBlack mrf-button " href="https://truththeory.com/category/movies/">

                            <h2 class="mrf-listMenu__title mrf-lateralMenu-item-title">
                                Movies

                                    <span class="mrf-listMenu__title-lastSaved">
                                        DOWNLOADED
                                        <span class="mrf-listMenu__title-lastSaved-date"></span>
                                    </span>

                            </h2>

                            <span class="mrf-dlsection__button movies" data-mrf-sectionname="movies">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--downloadSection"></use>
    </svg>

<div class="mrf-spinner"></div>
</span>

                        </a>

                    </li>

                    <li data-shortcut='navigationLevel:open:mosaic,tap:mrf-lateralMenu:toggle' data-mrf-section='videos' class="videos main mrf-type-default mrf-listMenu__section mrf-sectionThumb ">

                        <a id='470229' class="mrf-buttonToBlack mrf-button " href="https://truththeory.com/category/videos/">

                            <h2 class="mrf-listMenu__title mrf-lateralMenu-item-title">
                                Videos

                                    <span class="mrf-listMenu__title-lastSaved">
                                        DOWNLOADED
                                        <span class="mrf-listMenu__title-lastSaved-date"></span>
                                    </span>

                            </h2>

                            <span class="mrf-dlsection__button videos" data-mrf-sectionname="videos">

    <svg class="mrf-Icon ">
            <use xlink:href="#mrf-Icon--downloadSection"></use>
    </svg>

<div class="mrf-spinner"></div>
</span>

                        </a>

                    </li>

                </ul>
                <ul class="mrf-lateralMenu-listContainers">

                </ul>
            </div>

        </div>

        <div class="mrf-pn-unsubscribe">
            <div class="mrf-pn-unsubscribe__bell">

                <svg class="mrf-Icon mrf-Icon--s">
                    <use xlink:href="#mrf-Icon--pn-unsubscribe__bell"></use>
                </svg>

            </div>

            <span class="mrf-pn-unsubscribe__title">
    Notifications
</span>
            <input type="checkbox" id="switch" class="mrf-pn-unsubscribe__switch">
            <label for="switch">Toggle</label>
        </div>

    </div>
</amp-sidebar>
